<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>速达律法律咨询</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <div style="margin:10px 5px 15px 20px;"></div>
    <div th:if="${not #lists.isEmpty(contracts)}">
        <div class="col-md-3">
            <p class="lead">合同分类</p>
            <div class="list-group">
                <a th:each="contract : ${contracts}"
                   th:href="${'/contract/download/'} + ${category} + ${'/'} + ${contract}"
                   class="list-group-item">
                    <p th:value="${contract}" th:text="${contract}"></p>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
