<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>速达律法律咨询</title>

</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(contracts)}">
        <h2>Product List</h2>
        <table class="table table-striped">
            <tr>
                <!--<th>Id</th>-->
                <!--<th>Product Id</th>-->
                <th>Description</th>
                <!--<th>Price</th>-->
                <!--<th>View</th>-->
                <!--<th>Edit</th>-->
            </tr>
            <tr th:each="contract : ${contracts}">
                <!--<td th:text="${product.id}"><a href="/product/${product.id}">Id</a></td>-->
                <!--<td th:text="${product.productId}">Product Id</td>-->
                <!--<td th:text="${product.description}">descirption</td>-->
                <!--<td th:text="${product.price}">price</td>-->
                <!--<td><a th:href="${ '/product/' + product.id}">View</a></td>-->
                <td><a th:href="${'/contract/download/'} + ${category} + ${'/'} + ${contract}">
                    <p class="form-control-static" th:text="${contract}">x</p>
                </a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>
